/*CSS for the cool kids*/
html {
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  font-weight: normal;
  font-family: "Roboto Slab", serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

button {
  text-transform: bold uppercase;
}

.title {
  font-size: 36px;
  background-color: black;
  color: white;
}

.doggos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.doggo {
}
